*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
header{
text-align: center;
align-items: center;
justify-content: center;
display: flex;
width: 100%;
height: 10vh;
background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
box-shadow: 2px 2px 2px grey;
}
section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
h1{
    color: #FFF;
}
a{
    padding: 0px 10px;
 font-size: 50px;
 color: #FFF;
 background: rgb(14, 82, 209);
 border-radius: 20px;
 transition: .5s;
}
a:hover{
    background: rgb(196, 10, 212);
  
}